*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, min-content);
  grid-row-gap: 2rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

input[type=checkbox] {
  display: none; }

#header {
  padding: 30px 10px;
  /* Large padding which will shrink on scroll (using JS) */ }

.header {
  width: 100vw;
  position: fixed;
  z-index: 1000;
  transition: 0.4s;
  /* Adds a transition effect when the padding is decreased */
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .header__menu {
    grid-column: 1 / 2;
    justify-self: center;
    align-content: center;
    display: none; }
    .header__menu-btn {
      cursor: pointer; }
    .header__menu-btn div {
      position: relative;
      width: 4rem;
      height: 2px;
      background-color: white;
      margin-top: 8px;
      transform: translateY(-4px); }
  .header__logo {
    grid-column: 2 / 5;
    justify-self: center; }
    .header__logo-img {
      width: 11vw;
      min-width: 180px;
      padding: 1rem; }
  .header__nav {
    grid-column: 5 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    list-style: none;
    grid-gap: 2rem;
    align-items: center;
    justify-content: end;
    transform: translateX(-5rem); }
    .header__nav__link:link, .header__nav__link:visited {
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      padding: 0.5rem;
      display: block;
      transition: all .2s; }
    .header__nav__link:hover, .header__nav__link:active {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }

@media only screen and (max-width: 1200px) {
  .header__nav__link:link, .header__nav__link:visited {
    font-size: 1.8rem; } }

@media only screen and (max-width: 900px) {
  .header__logo {
    grid-column: 1 / -1; }
  .header__nav {
    grid-column: 1 / -1;
    justify-content: center;
    transform: translateX(0px); }
    .header__nav__link:link, .header__nav__link:visited {
      font-size: 1.6rem; } }

@media only screen and (max-width: 600px) {
  .header__menu {
    padding: 1rem;
    display: inherit; }
  .header__logo {
    grid-column: 2 / -1; }
  .header__nav {
    grid-column: 1 / -1;
    grid-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100%);
    max-height: 0px;
    overflow: hidden;
    transition: all 0.25s ease-out;
    justify-items: center; }
    .header__nav-item {
      width: 75%; }
    .header__nav__link:link, .header__nav__link:visited {
      font-size: 2rem; }
    .header__nav__link-1:link, .header__nav__link-1:visited {
      margin-top: 1.5rem; }
    .header__nav__link-3:link, .header__nav__link-3:visited {
      margin-bottom: 1.5rem; }
  input[type=checkbox]:checked ~ header ul {
    height: auto;
    max-height: 40rem;
    transition: all 0.3s ease-in-out; } }

.footer {
  grid-column: 1 / -1;
  display: grid;
  height: 5vh;
  background-color: #535353; }

.contact {
  grid-column: 1 / -1; }

.landingArea {
  grid-column: 1 / -1;
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/main3-min.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 85vh;
  min-height: 80rem;
  text-align: center;
  justify-items: center;
  align-content: center; }

.quote {
  width: 50%;
  font-size: 4rem;
  font-weight: 400;
  color: white; }
  .quote-small {
    font-size: 2rem; }

.plans {
  grid-column: 1 / -1;
  display: grid;
  grid-row-gap: 4rem;
  padding: 0 2rem;
  color: white; }
  .plans__types-weightloss {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/weight.png);
    background-size: cover;
    height: 60vh;
    min-height: 60rem;
    grid-column: 1/5; }
  .plans__types-massgain {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mass.png);
    background-size: cover;
    grid-column: 5/9; }
  .plans__types-endurance {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/endurance.png);
    background-size: cover;
    grid-column: 9/13; }
  .plans__types {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem; }
    .plans__types p {
      width: 100%;
      font-size: 6rem;
      align-items: center; }
    .plans__types-priceinfo {
      font-size: 2rem;
      text-align: center;
      justify-self: center;
      padding: 2rem; }

.aboutme {
  grid-column: 1 / -1;
  display: grid;
  height: min-content;
  background-color: rgba(3, 3, 3, 0.685);
  color: white;
  grid-template-row: repeat(auto-fit, 1fr);
  grid-row-gap: 2rem;
  justify-content: center;
  margin: 0 2rem; }
  .aboutme h2 {
    text-align: center;
    font-size: 4rem; }
  .aboutme__section {
    max-width: 75%;
    font-size: 2rem;
    justify-self: center;
    padding: 5rem 0; }

.profile {
  width: 15vw;
  min-width: 30rem;
  border-radius: 5%;
  margin: 0 2rem .5rem 0;
  float: left; }
