input[type=checkbox] {
    display:none;
}



.header{
    width: 100vw; 
    position: fixed;
    z-index: 1000;
    transition: 0.4s;

    display: grid; 
    grid-template-columns: repeat(12, 1fr);

    justify-items: center; 
    align-content: center; 
    
    &__logo{
        grid-column: 2 / 5;
        
        &-img{
            width: 100%;
            margin: 2rem 0rem;
            transition: 0.4s;
            
        }
    } 
}



@media only screen and (max-width: 1400px) {
    .header{

        &__logo{
            grid-column: 2 / 6;
        }
    } 
}



@media only screen and (max-width: 900px) {
    .header{
        background-color: rgb(10, 10, 10);

        &__logo{
            grid-column: 4 / 10;
           
            &-img{
                margin: 0rem;
            }
        }
    } 
}



@media only screen and (max-width: 600px) {
    .header{
            
        &__logo{
            grid-column: 2 / 12; 
        }
        
    }

    input[type=checkbox]:checked ~ header ul{
            height: auto;
            max-height:40rem;
            transition: all 0.3s ease-in-out;
    }
}


  