
.about-text{
      grid-column: 1 / 13; 
      
      display:grid;
      grid-template-columns: repeat(12, 1fr);
  
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: rgb(219, 218, 218);
    //border: .5rem rgb(83, 83, 83) solid;
    //color:white;
    font-size: 2rem;

    text-align: center;
    align-items: center;
   

}

.about-image{
    grid-column: 1 / 4; 
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url(../img/Profile.jpg);
    background-size: cover;
   background-position: center center;

    height: 50vh;
    min-height: 50rem;
  


}
.about-text_inner{
    grid-column: 5/ 12; 

    
    
}


@media only screen and (max-width: 900px) {



    .about-text{
        margin: 0rem 1rem;
    }

    .about-image{
        grid-column: 1 / 5; 
    }
    .about-text_inner{
        grid-column: 5/ 13; 
        
       
    
        
        
    }

}

@media only screen and (max-width: 600px) {



    .about-text{
        margin: 0rem 0rem;
    }

    .about-image{
        grid-column: 1 / -1; 
    }
    .about-text_inner{
        grid-column: 1/ -1; 
        
       
    
        
        
    }

}
