.about-image{
    grid-column: 1 / 6; 
    margin-left: 2rem;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/profile.png);
    background-size: cover;
    background-position: center center;

    height: 45vh;
    min-height: 45rem;
  
}

.about-text{
    display:grid;
    grid-column: 6 / 13; 
    margin-right: 2rem;
    background-color: rgb(219, 218, 218);
    //border: .5rem rgb(83, 83, 83) solid;
    //color:white;
    font-size: 2rem;
    justify-items: center; 
    align-content: center; 
}

.about-text_inner{
    width: 75%;
    
}

.profile{
    width: 100%;
}
