.landingArea{
    grid-column: 1 / -1; 
    display:grid;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/main.png);
    background-size: cover;
    background-attachment: fixed;

    text-align: center;
    justify-items: center; 
    align-content: center; 
}

.quote{
    width: 50%;
    min-width: 40rem;
    height: auto;
    font-size: 4rem;
    font-weight: 400;
    color:white;
    transform: translateY(1.7rem);
}

.quote P{
    padding: 2rem;
}
