.plans{
    grid-column: 1 / -1; 
    display:grid;
    grid-row-gap: 4rem;
    padding:0 2rem; 
    color: white;
    //background-color: blue;

        &__types-weightloss{
            background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/weight.png);
            background-size: cover;
            height: 60vh;
            min-height: 60rem;
            grid-column: 1/5;
            
        }

        &__types-massgain{
            background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/mass.png);
            background-size: cover;
            grid-column: 5/9;
        }

        &__types-endurance{
            background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/endurance.png);
            background-size: cover;
            grid-column: 9/13;
        }


        &__types{
            display:grid;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 2rem;

            p{
                width: 100%;
                font-size:6rem;
                align-items: center;
               
            }

            &-priceinfo{
                font-size: 2rem;
                text-align: center; 
                justify-self: center; 
                padding:2rem;
            }
    }
}