.section{
    padding:0 2rem; 
    display: grid;
    
    font-size: 2rem;
    background-color: white;
    justify-items: center; 
    //align-content: center;

    &_two{
        grid-column: 1/7;

        margin-left: 2rem;
        min-height: 30rem;

        ul{
            text-align: center;
            line-height: 2;
        }
    }

    &_three{
        grid-column: 7/13;

        margin-right: 2rem;
        min-height: 30rem;

        line-height: 2;
    }
}


@media only screen and (max-width: 600px) {
    .section{

    &_two{
        grid-column: 1/13;
        margin: 0rem 0rem;
    }

    &_three{
        grid-column: 1/13;
        margin: 0rem 0rem;
    }
    }
}

