* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
p {
font-size: 14px;
line-height: 24px;
color: #1e1e1e;
}
img {
max-width: 100%;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
}
.clear {
  clear: both;
}

header,
section,
footer {
width: 100%;
float: left;
}
header {
padding: 0 0;
background: rgb(5,19,22); 
text-align: center;
}
header img {
display: inline-block;
max-width:250px; 
}
.headerbase {
background: rgb(2, 9, 10);
min-height: 40px;
margin-bottom: 20px;
}

.product_content {
padding-top: 30px;
margin-bottom: 50px;
}
.image_gallery {
  width: 50%;
  background: #FFF;
  text-align: center;
  float: left;
}
/*GALLERY CSS*/
.container {
  width: 100%;
  position: relative;
  margin:0 auto;
}
.thumbnails {
text-align: center;

}
.thumbnails li {
  margin: 0 0 0 0;
  width: 25%;
  height: auto;
  background: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  float: left;
}
.thumbnails input[name="select"] {
  display: none;
}
.thumbnails .item-hugger {
padding: 5px;
width: 100%;
height: 100%;
  position: relative;
display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
border: 1px solid #e3e3e3;
  transition: all 150ms ease-in-out;
}
.thumbnails label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.thumbnails .gallery_content {
max-width: 540px;
  width: 100%;
  height: 500px;
background: #fff;
border: 1px solid #e4e4e4;
  transition: all 150ms linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
  overflow: hidden;
opacity: 0;
position: absolute;
  top: 0;
  left: 50%;
transform: translateX(-50%);
}
.thumbnails input[name="select"]:checked + .item-hugger {
  border-color: #a2a2a2;
}
.thumbnails input[name="select"]:checked ~ .gallery_content {
  opacity: 1;
}
.white-box {
  height: 500px;
  overflow: hidden;
}
.template_right {
width: 48%;
float: right;
}
.description h2 {
margin-bottom: 10px;
padding-bottom: 5px;
font-weight: 400;
font-size: 22px;
color: #f4cb72;
border-bottom: 2px solid #f4cb72;
display: inline-block;
}
.description ul {
margin-bottom: 10px;
}
.description ul li {
list-style-type: disc;
list-style-position: inside;
font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #1e1e1e;
}
.accordion {
margin: 20px 0 30px 0;
}
/* Acordeon styles */
.tab {
position: relative;
margin-bottom: 1px;
width: 100%;
overflow: hidden;
}
.accordion input {
position: absolute;
opacity: 0;
z-index: -1;
}
.accordion label {
position: relative;
display: block;
padding: 0 0 0 1em;
background: rgb(5,19,22);
font-size: 18px;
color: #FFF;
line-height: 45px;
cursor: pointer;
}
.tab-content {
max-height: 0;
overflow-y: auto;
-webkit-transition: max-height .35s;
-o-transition: max-height .35s;
transition: max-height .35s;
}
/* :checked */
.accordion input:checked ~ .tab-content {
padding: 15px 0;
max-height: 300px;
}
/* Icon */
.accordion label::after {
width: 2em;
position: absolute;
right: 0;
top: 0;
bottom: 0;
font-size: 30px;
line-height: 45px;
display: block;
text-align: center;
-webkit-transition: all .35s;
-o-transition: all .35s;
transition: all .35s;
}
.accordion input[type=radio] + label::after {
content: "+";
}
.accordion input[type=radio]:checked + label::after {
content: "-";
}

footer {
padding: 20px 0;
background: #1e1e1e;
}
footer p {
line-height: 30px;
font-weight: 300;
color: #FFF;
float: left;
}
footer img {
float: right;
}
@media only screen and (max-width: 840px) {

.image_gallery,
.template_right {
  width: 100%;
}
.image_gallery {
  margin-bottom: 20px;
}
.thumbnails li,
footer p,
footer img {
  float: none;
}
.thumbnails .gallery_content,
.white-box {
  height: 400px;
}
footer {
  text-align: center;
}
}
